/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #908e8e;
}

nav{
  display: flex;
  /* text-align: right; */
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
  /* align-items: end; */
  justify-content: space-between;
}

.logo{
  /* margin: 0; */
  background-color: #d4c9c9;
  padding: 0.25rem;
  border-radius: 1rem;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: flex;
  font-size: x-large;
  /* display: inline; */
  margin-right: 3rem;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

img {
  height: 7rem;
  width: 7rem;
  border-radius: 1rem;
  object-fit : contain;
  /* max-width: 100%; */
}

h1 {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 {
  /* margin-top: 0; */
  font-size: medium;
}

.checkout-text{
  text-align: center;
}

button{
  /* margin-left: 2rem; */
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.products-list {
  list-style-type: none;
  /* margin: 0; */
  margin: 0 auto;
  padding: 2rem;
  /* padding: 20rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}

.products-list li {
  /* margin-bottom: 2px; */
  border-radius: 1rem;
  background-color: #f3efef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 25%;
  margin: 1rem;
  padding: 2rem;
}

.product-description{
  width: 15rem;
}

.cart-list li {
  background-color: #f3efef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  /* margin-bottom: 20px; */
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 2rem;
}

.cart-list input[type='number'] {
  width: 50px;
}

.cart-end {
  /* text-align: right; */
  font-size: x-large;
  padding: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #edc0c0;
  display: flex;
  justify-content: space-between;
}

.cart-end button{
  font-size: x-large;
}

.cart-actions {
  margin-top: 20px;
}

.cart-actions button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cart-actions button:disabled {
  background-color: #999;
  cursor: not-allowed;
}